.dynamic-tab-pane-control.tab-pane {
	position:	relative;
	/*width:		100%;		 width needed weird IE bug */
	/*margin-right:	-2px;	 to make room for the shadow */
}
.dynamic-tab-pane-control .tab-row .tab {
	height: 16px;
	background-image: url( "tab.png" );
	position: relative;
	top: 0;
	display: inline;
	float: right;
	overflow: hidden;
	/*cursor: hand; not compatible with all browsers */
	margin: 1px -1px 1px 2px;
	padding: 2px 4px 0px 4px;
	border-left: 1px solid #919B9C;
	border-right: 1px solid #919B9C;
	border-top: 1px solid #919B9C;
	border-bottom-width: 0;
	z-index: 1;
	font: 11px Tahoma;
	white-space: nowrap;
	text-align: center;
}
.dynamic-tab-pane-control .tab-row .tab.selected {
	height: 18px !important;
	background-image:	url( "tab_active.png" ) !important;
	background-repeat: repeat;
	border-left: 1px solid #919B9C;
	border-right: 1px solid #919B9C;
	border-bottom-width: 0;
	border-top-width: 0;
	z-index: 3;
	padding: 2px 4px 0px 4px;
	margin: 1px -3px -3px 0px;
	top: -2px;
	font: 11px Tahoma;
}
.dynamic-tab-pane-control .tab-row .tab a {
	font:	11px Tahoma;
	color: #333333;
	text-decoration: none;
	/*cursor: hand; not compatible with all browsers*/
}
.dynamic-tab-pane-control .tab-row .tab.hover {
	font:	11px Tahoma;
	height: 16px;
	background-image: url( "tab_hover.png" );
	background-repeat: repeat;
}
.dynamic-tab-pane-control .tab-page {
	border: 1px solid rgb( 145, 155, 156 );
	background: rgb( 252, 252, 254 );
	z-index: 2;
	position: relative;
	top: -2px;
	font: 11px Tahoma;
	color: #333333;
	
	/*244, 243, 238*/
	/* 145, 155, 156*/
	padding:	5px;
	width: 97%;  /* stupid stupid stupid IE!!! */
	float: right;

}
.dynamic-tab-pane-control .tab-row {
	z-index: 1;
	white-space: nowrap;
}