.button, pagenav_next a, pagenav_back a {
border: 3px double #900
}
#side1 ul.mainlevel li a,#side1 ul.mainlevel li a {
background:url(../images/play.png) no-repeat 3px 50%;
}

#side1 ul.mainlevel li a:hover, #side1 ul.mainlevel li a:hover, #side1 ul.mainlevel a#active_menu:hover {
background: #202020 url(../images/play.gif) no-repeat 6px 50%;
}
