/* ThemeOfficeMenu Style Sheet */
.ThemeOfficeMenu,.ThemeOfficeSubMenuTable {
	font-family: tahoma, verdana, sans-serif;
	font-size: 12px;
	padding: 0;
	white-space: nowrap;
	cursor:	default;
	height: 26px;
	color: #ffffff;
}

.ThemeOfficeSubMenu {
	position: absolute;
	visibility: hidden;
	z-index: 100;
	border: 0;
	padding: 0;
	overflow: visible;
	border: 1px solid #555555;
}

.ThemeOfficeSubMenuTable {
	overflow: visible;
	background-color: #333333; /* #385AA7; */

}

.ThemeOfficeMainItem,.ThemeOfficeMainItemHover,.ThemeOfficeMainItemActive,
.ThemeOfficeMenuItem,.ThemeOfficeMenuItemHover,.ThemeOfficeMenuItemActive {
	border:	0;
	cursor:	default;
	white-space: nowrap;
}

.ThemeOfficeMainItemHover,.ThemeOfficeMainItemActive {
	background: url(../images/menuback_on.gif);
	background-repeat: repeat;
}

td.ThemeOfficeMainItemHover,td.ThemeOfficeMainItemActive {
	padding: 0px;
	border-top:	0px;
	border-right: 1px solid #103079;
	border-left: 1px solid #103079;
}

.ThemeOfficeMenuItem {
	background-color: inherit;
}

.ThemeOfficeMenuItemHover,.ThemeOfficeMenuItemActive {
	background: #46567D; /*#2D3B5B;*/
}

/* horizontal main menu */
.ThemeOfficeMainItem {
	padding: 4px 1px 4px 1px;
	border: 0;
}

.ThemeOfficeMainFolderLeft,.ThemeOfficeMainItemLeft,
.ThemeOfficeMainFolderText,.ThemeOfficeMainItemText,
.ThemeOfficeMainFolderRight,.ThemeOfficeMainItemRight {
	background-color:	inherit;
}

/* vertical main menu sub components */
td.ThemeOfficeMainFolderLeft,td.ThemeOfficeMainItemLeft {
	padding: 2px 0px 2px 2px;
	border-top:	1px solid #103079;
	border-bottom: 1px solid #103079;
	border-right: 1px solid #103079;
	background-color: inherit;
}

td.ThemeOfficeMainFolderText,td.ThemeOfficeMainItemText {
	padding: 2px 5px 2px 5px;
	border-top: 1px solid #103079;
	border-bottom: 1px solid #103079;
	background-color: inherit;
	white-space: nowrap;
}

td.ThemeOfficeMainFolderRight,td.ThemeOfficeMainItemRight {
	padding: 2px 0 2px 0;
	border-top: 1px solid #103079;
	border-bottom: 1px solid #103079;
	border-left: 1px solid #103079;
	background-color: inherit;
}

tr.ThemeOfficeMainItem td.ThemeOfficeMainFolderLeft,
tr.ThemeOfficeMainItem td.ThemeOfficeMainItemLeft {
	padding: 3px 1px 3px 2px;
	white-space: nowrap;
	border: 0;
	background-color: inherit;
}

tr.ThemeOfficeMainItem td.ThemeOfficeMainFolderText,
tr.ThemeOfficeMainItem td.ThemeOfficeMainItemText {
	padding: 3px 5px 3px 5px;
	border: 0;
	background-color: inherit;
}

tr.ThemeOfficeMainItem td.ThemeOfficeMainItemRight,
tr.ThemeOfficeMainItem td.ThemeOfficeMainFolderRight {
	padding: 3px 1px 3px 0;
	border: 0;
	background-color: inherit;
}

/* sub menu sub components */
.ThemeOfficeMenuFolderLeft,.ThemeOfficeMenuItemLeft {
	padding: 2px 1px 2px 3px;
	border-top:	1px solid #103079;
	border-bottom: 1px solid #103079;
	border-right: 1px solid #103079;
	background-color: inherit;
	white-space: nowrap;
}

.ThemeOfficeMenuFolderText,.ThemeOfficeMenuItemText {
	padding: 2px 5px 2px 5px;
	border-top:	1px solid #103079;
	border-bottom: 1px solid #103079;
	background-color: inherit;
	white-space: nowrap;
}

.ThemeOfficeMenuFolderRight,.ThemeOfficeMenuItemRight {
	padding-top: 2px;
	padding-bottom:	2px;
	padding-left: 0px;
	padding-right: 0px;
	border-top:	1px solid #103079;
	border-bottom: 1px solid #103079;
	border-left: 1px solid #103079;
	background-color: inherit;
	white-space: nowrap;
}

.ThemeOfficeMenuItem .ThemeOfficeMenuFolderLeft,
.ThemeOfficeMenuItem .ThemeOfficeMenuItemLeft {
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 3px;
	padding-right: 2px;
	white-space: nowrap;
	border: 0px;
	background-color: #CCCCCC;
}

.ThemeOfficeMenuItem .ThemeOfficeMenuFolderText,
.ThemeOfficeMenuItem .ThemeOfficeMenuItemText {
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 5px;
	padding-right: 5px;
	border: 0px;
	background-color: inherit;
}

.ThemeOfficeMenuItem .ThemeOfficeMenuFolderRight,
.ThemeOfficeMenuItem .ThemeOfficeMenuItemRight {
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 1px;
	padding-right: 2px;
	border: 0;
	background-color: inherit;
}

/* menu splits */
.ThemeOfficeMenuSplit {
	margin: 2px;
	height: 1px;
	overflow: hidden;
	background-color: inherit;
	border-top: 1px solid #333333;
}

/* image shadow animation */

/*
	seq1:	image for normal
	seq2:	image for hover and active

	To use, in the icon field, input the following:
	<img class="seq1" src="normal.gif" /><img class="seq2" src="hover.gif" />
*/

.ThemeOfficeMenuItem img.seq1 {
	display: inline;
}

.ThemeOfficeMenuItemHover seq2, .ThemeOfficeMenuItemActive seq2 {
	display: inline;
}

.ThemeOfficeMenuItem .seq2,
.ThemeOfficeMenuItemHover .seq1,
.ThemeOfficeMenuItemActive .seq1 {
	display: none;
}
