/*
ekebic template CSS for Elxis 2009 (Modified Okto Customize.css)
Author: Dejan Viduka (kebic)
E-mail: dejan@viduka.info
URL: http://www.viduka.info
Date: 26.03.2009
License: GNU/GPL
Elxis CMS is a free software
*/

/* global links */
a, a:visited, a:link, a:active {
	color: #0099CC;
	text-decoration: underline;
}
a:hover {
	color: #000000;
	text-decoration: underline;
}

/* form elements */
/* form {} */
.inputbox, .text_area, .selectbox {
	background-color: #FFFFFF;
	border: 1px solid #78A1BB;
	padding: 2px 0;
	margin: 1px;
	color: #000;
}

body {
	background: #FFFFFF; direction: rtl; /* white background for typography and WYSIWYG editors */
}

/* form button */
.button {
	background-color: #77b9dc;
	border: 1px solid #295673;
	color: #fff;
	font-weight: normal;
	padding: 2px;
	margin: 2px;
}

/* back button */
div.back_button {
	background: transparent url(../images/back-rtl.png) 100% 50% no-repeat;
	padding-right: 18px;
	margin: 10px;
	text-align: right;
}
div.back_button a:link, div.back_button a:visited { color: #1B3F70; text-decoration: none; }
div.back_button a:hover { color: #000; text-decoration: none; }

/* system message (mosmsg) */
div.message {
	clear: both;
	background: #C3E5FC url(../images/info32.png) 100% 50% no-repeat;
	border: 1px dashed #6899B8;
	padding: 8px 38px 8px 5px;
	margin: 5px;
	font-weight: bold;
}

/* pathway */
span.pathway {
	font-size: 1em;
	margin: 0;
	margin-right:0px;
	padding-right:5px;
	line-height: 22px;
	color: #EEEEEE;
}
span.pathway a {
	background: transparent url(../images/path-arrows-rtl.png) 0 50% no-repeat;
	padding-left:16px;
	margin: 0 2px;
	font-weight: bold;
	color: #EEEEEE;
	text-decoration: none;
	float: right;
}
span.pathway img { display:none; }
a.pathway, a.pathway:visited { color: #EEEEEE; text-decoration:none; }
a.pathway:hover { text-decoration:underline; }

/* small text */
.small { font-family: tahoma, verdana, arial; font-size: 0.9em; color: #444; }

/***************************************************/
/* CONTENT */

/* headers */
h1.contentheading, h1.componentheading { font-size: 1.3em; font-weight: bold; color: #224F65; padding: 0.3em 0 0.1em 0; }
h2.contentheading { font-size: 1.2em; font-weight: bold; color: #333; padding: 1em 0 0.1em 0; }
h3.contentheading { font-size: 1.1em; font-weight: bold; color: #333; padding: 1em 0 0.1em 0; }

/* email, print, rtf, pdf buttons */
div.buttonheading {
	margin-top: -2em;
	margin-left: 10px;
}
/* div.buttonheading img {} */

/* item's category and section */
/* .item_sectioncategory {} */
div.item_sectioncategory a { text-decoration: none; }
/* item's author, creation and last modification dates and related links */
div.item_sectioncategory, div.item_author, div.item_createdate, div.item_modifydate, div.item_hits {
	background: transparent url(../images/user.png) 100% 50% no-repeat;
	padding-right: 18px;
	font-family: tahoma,verdana,arial,sans-serif;
	color: #444;
	font-style: normal;
	font-size: 0.92em;
}
div.item_sectioncategory {
	background: transparent url(../images/category.png) 100% 50% no-repeat;
	font-size: 1em;
}
div.item_createdate, div.item_modifydate {
	background: transparent url(../images/calendar.png) 100% 50% no-repeat;
}
div.item_modifydate { margin: 10px 0 20px 0; }
div.item_hits {
	background: transparent url(../images/bars.png) 100% 50% no-repeat;
}
div.item_related { margin: 20px 0 20px 0; color: #444; }
div.item_related a {
	line-height:  18px;
	padding-right: 18px;
	background: transparent url(../images/url.png) 100% 50% no-repeat;
	font-family: tahoma,verdana,arial,sans-serif;
	font-size: 0.92em;
	text-decoration: none;
}

/* section, category table view wrapper */
div.contentpane { color: #000; text-align:justify; }

/* section category description */
.contentdescription { float: right; margin-bottom: 10px; }
.contentdescription img { margin: 5px; }

/* section, category contents (table view) */
div.tcs { margin-bottom: 10px; }
div.tcs ul { padding: 10px 0; }

ul.table li.row0, ul.table li.sectiontableentry1 { background-color: #e7effd; border-bottom: 1px solid #b7cbeb; }
ul.table li.row1, ul.table li.sectiontableentry2 { background-color: #efefef; border-bottom: 1px solid #ddd; }
ul.table li.sectiontableentry1 a:link, ul.table li.sectiontableentry1 a:visited,
ul.table li.sectiontableentry2 a:link, ul.table li.sectiontableentry2 a:visited {
	color: #154b93;
	font-weight: bold;
	text-decoration:none;
}
ul.table li.sectiontableentry1 a:hover, ul.table li.sectiontableentry2 a:hover { color: #000; }

/* content navigation footer */
div.sectiontablefooter {
	border: 1px dashed #CCCCCC;
	margin: 15px 0 20px 0;
}

/* blog */
div.blog { overflow:hidden; }
div.blogleading { overflow: hidden; clear: both; background-color: #F8F8F8; border: 1px solid #ddd; padding: 4px; }
div.blogcell div.contentpaneopen_text { text-align:justify; padding:0.3em; }
/* more links */
.moreLinks { color: #444; }

div.blog_more ul { margin: 5px; }
div.blog_more li { list-style-type: square; }
div.blog_more li a.blogsection {
	color: #275870;
	font-size: 8pt;
	text-decoration: none;
}
div.contentpaneopen_text { text-align:justify; padding:0.5em; }
div.contentpaneopen_text li { list-style-type: disc; }

a.contentpagetitle:link, a.contentpagetitle:visited { font-size: 1.2em; color: #275870; text-decoration: none; }
a.contentpagetitle:hover { color: #333; text-decoration: none; }

/* category link */
a.category:link, a.category:visited { font-weight: bold; color: #125487; text-decoration:none; }
a.category:hover { color: #000; }

/* read more link */
a.readon:link, a.readon:visited {
	background-color: #EEEEDD;
	padding: 3px;
	text-decoration:none;
	border: 1px solid #ccc;
	margin: 10px 0 20px 0;
	display: block;
	float: right;
}
a.readon:hover { color: #000; }
div.blogleading a.readon { background-color: inherit; border: 0; }

/* page navigation links */
span.pagenav { font-size: 0.8em; }
a.pagenav:link, a.pagenav:visited,
.pagenav_next a:link, .pagenav_next a:visited,
.pagenav_prev a:link, .pagenav_prev a:visited {
	font-size: 0.8em;
	background-color: #EEEEDD;
	padding: 3px;
	text-decoration:none;
	border: 1px solid #ccc;
}
a.pagenav:hover, .pagenav_next a:hover, .pagenav_prev a:hover { color: #000; }

/***************************************************/
/* COMPONENTS SPECIFIC */

/* weblinks */
div.weblinks ul.table {
	float: right;
	width: 98%;
	border: 0;
	padding: 0;
	margin: 0;
	margin-bottom: 10px;
}
div.weblinks ul.table li { padding: 2px; margin: 2px; text-indent: 0px; }
div.weblinks a.category:link, div.weblinks a.category:visited { color: #333333; text-decoration: underline; }
div.weblinks a.category:hover { color: #000; }
#weblinksform { background-color: #eeeeee; border: 1px dashed #ccc; margin: 4px; padding: 4px; }

/* Newsfeeds */
div.newsfeeds ul li, div.newsfeeds ul.table li { color: #555; padding: 2px 0px; }

/* user */
table.contentpaneopen {
	padding: 0px;
	margin: 5px 0 20px 0;
	font-size: 0.9em;
}
table.contentpaneopen th {
	padding: 2px;
	margin: 0;
	border-collapse: collapse;
	border: 0px none;
	font-weight: bold;
	color: #fff;
	background-color: #2F627C;
}
table.contentpaneopen #activecolumn { background-color: #9C0909; }
table.contentpaneopen th a { text-decoration: none; color: #fff; }
table.contentpaneopen th a:hover { color: #E6E6D0; }
tr.sectiontableentry1 { background-color: #EEEEDD; }
tr.sectiontableentry2 { background-color: #E7E7D5; }
tr.sectiontableentry1:hover { background-color: #E1E1CB; }
tr.sectiontableentry2:hover { background-color: #E1E1CB; }
table.contentpaneopen td { padding: 4px 0 4px 0; }

#vuserprofile h1 { font-size: 1.3em; color: #1A4F6A; font-weight:bold; }
#vuserprofile h2 { font-size: 1.2em; color: #1A4F6A; font-weight:bold; }

/* contact */
div.contactscats ul li a { text-decoration: none; font-weight: bold; }
div.contactscats ul.table li a { text-decoration: underline; font-weight: normal; }

/* poll */
ul.polltable { list-style-type: none; margin-right: 0; padding-right: 0; }
ul.polltable li.row0, ul.polltable li.sectiontableentry1 { background-color: #e7effd; border-bottom: 1px solid #b7cbeb; }
ul.polltable li.row1, ul.polltable li.sectiontableentry2 { background-color: #efefef; border-bottom: 1px solid #ddd; }
ul.polltable li.sectiontableentry1 a:link, ul.polltable li.sectiontableentry1 a:visited,
ul.polltable li.sectiontableentry2 a:link, ul.polltable li.sectiontableentry2 a:visited {
	color: #5F5F30;
	font-weight: bold;
	text-decoration:none;
}
ul.polltable li.sectiontableentry1 a:hover, ul.polltable li.sectiontableentry2 a:hover { color: #000; }

/***************************************************/
/* MODULES */

/* frontpage module */
.modfpg-ctitle { background: url(../images/file.png) top right no-repeat; }
.modfpg-introtitle a, .modfpg-introtitle a:visited, .modfpg-introtitle a:active { color: #333; text-decoration:none; }
.modfpg-introtitle a:hover { color: #125487; text-decoration:none; }

/* search module */
.search {
    background: url('../images/search-rtl.jpg') no-repeat;
	padding: 0px 25px 0 5px;
	width: 150px;
	height: 30px;
}
.search input, .search input.inputbox {
	border: 0;
	background: none;
	color: #0099FF;
	padding: 2px;
	width: 108px;
	margin: 2px 0;
}

/* language module */
.moduletable-lang { color: #ffffff; font-weight: bold; }
.moduletable-lang a { color: #FFFFFF;padding-left:5px;}
.selectbox-lang { background-color: #5584A2; color: #fff;  }

/* left and right column modules */
.lkol div.moduletable { margin: 0 0 1px 3px; padding: 0; }
.dkol div.moduletable { margin: 0 1px 1px 3px; padding: 0; }
.lkol div.moduletable h3,.user5 div.moduletable h3, .user7 div.moduletable h3, .user2 div.moduletable h3, .user4 div.moduletable h3{
	background: url(../images/e-h3p.jpg) 100% 50% no-repeat;
    height: 32px;
    /*width: 192px;*/
	font-size: 1.1em;
	font-weight: bold;
	color: #EEEEEE;
	margin-right: 0;
	padding: 5px 8px 0 0;
	text-align: right;
}
 .dkol div.moduletable h3, .user6 div.moduletable h3, .user8 div.moduletable h3, .user1 div.moduletable h3, .user3 div.moduletable h3 {
	background: url(../images/e-h3s.jpg) 100% 50% no-repeat;
    float:right;
    height: 32px;
    width: 192px;
	font-size: 1.1em;
	font-weight: bold;
	color: #999999;
	margin: 0;
	padding: 5px 8px 0 0;
	text-align: right;
}
.lkol div.moduletable p, .dkol div.moduletable p { margin: 0 0 5px 0; }

/* banners module */
.moduletable-banner { text-align: center; padding: 10px 0; }

/* user login module */
div.userlogin { min-height: 55px; }
.userlogin img { margin: 0 0 0 2px; }
div.userlogin a, div.userlogin a:visited {
	background: transparent url(../images/key.png) 100% 50% no-repeat;
	padding-right: 18px;
	font-size:  0.92em;
	color: #224B60;
	text-decoration: none;
}
div.userlogin a:hover { text-decoration: underline; }

/* modules most read (popular) and latest news */
ul.mostread, ul.latestnews {
	margin-right: 0;
	margin-bottom: 10px;
}
ul.mostread li.latestnews, ul.latestnews li.latestnews {
   	list-style-type: none;
	margin-right: 0;
	padding-right: 20px;
	background: transparent url(../images/read.png) 100% 0 no-repeat;
}
a.mostread, a.latestnews, a.mostread:visited, a.latestnews:visited {
	color: #224B60;
	text-decoration: none;
}
a.mostread:hover, a.latestnews:hover {
	text-decoration: underline;
}

/* module rss feed */
div.syndicate { padding: 4px; }
div.syndicate img { margin: 2px; }

/* module Top Weblink */
#topweblink {
	background-color: #c4e1ee;
	border-top: 1px solid #5f92a8;
	border-bottom: 1px solid #5f92a8;
	padding: 5px 20px 5px 5px;
	margin: 10px 0 20px 10px;
}
#topweblink h3 {
	color: #20679D;
	padding: 0;
	margin: 2px;
	font-weight: bold;
}

#topweblink img {
	margin: 4px;
	padding: 2px;
	border: 1px solid #5f92a8;
}

#topweblink-explain { color: #333; }
#topweblink-desc { font-style: italic; }
#topweblink-hits {}
#topweblink-date { font-size: 0.9em; color: #555; }
#topweblink a { text-decoration: underline; font-weight: bold; color: #0A5893; }

/***************************************************/
/* MENUS */

/* topmenu links */

#top_menu { height: 77px; margin: -2px 0 0 0; padding: 0; }
#top_menu ul { margin: 0; list-style-type: none; padding: 0; }
#top_menu li { float: right; }
#top_menu a {
display : block;
height : 100%;
padding : 70px 12px 0 12px;
text-align : right;
text-decoration: none;
font-size : 14px;
color : #FFFFFF;
}
#top_menu a:hover {
height : 77px;
background : url('../images/e-menu.jpg') repeat-x top right;
color : #000000
}

/* mainmenu links */
a.mainlevel, a.mainlevel:visited {
    margin-right:0px;
	text-decoration: none;
	font-size: 1em;
	line-height: 22px;
	color: #003399;
	padding: 0 22px 0 0;
    background:  url(../images/star.png) right center no-repeat;
    border-bottom: 1px solid #DDDDDD;
}
a.mainlevel:hover {
	color:#000000;
	text-decoration: none;
    padding-right:22px;
    background: #6699FF  url(../images/star.png) no-repeat 100% 50%;
}

a.sublevel {
	font-size:90%;
    background:none;
    color:#000;
	line-height: 20px;
	padding:4px;
	text-decoration: none;
}
a.sublevel:hover {
background-color:#6699FF;
color:#000000;
text-decoration: none;
}

/* menu - flat (other menu) */
.lkol ul.mainlevel, .dkol ul.mainlevel { padding: 0; margin: 0; }
.lkol ul.mainlevel li, .dkol ul.mainlevel li { list-style-type: none; margin: 0px; padding: 0px; background: none; border-bottom: 1px solid #F1EEDE; }
.lkol  ul.mainlevel li a, .lkol  ul.mainlevel li a {
	background: url(../images/file.png) no-repeat 100% 50%;
	margin: 0 5px 0 0;
	text-decoration: none;
	display: block;
	padding: 0 22px 0 0;
	font-size: 1em;
	color: #000;
}

.lkol  ul.mainlevel li a:hover, .dkol ul.mainlevel li a:hover {
	color: #000000;
	padding: 0 22px 0 0;
	background: #6699FF url(../images/file.png) 100% 50% no-repeat;
}
.lkol  ul.mainlevel a#active_menu,
.dkol  ul.mainlevel a#active_menu {
	color: #000000;
	font-weight: bold;
}

/***************************************************/
/* MAMBOTS */

/* mosImage */
div.mosimage {}
div.mosimage_caption { margin: 3px 0 10px 0; font-size: 0.8em; color: #666; border: 1px solid #ccc; }

/* mosVote */
span.content_rating {
	background: transparent url(../images/bars.png) 100% 50% no-repeat;
	padding-right: 18px;
	font-family: tahoma,verdana,arial,sans-serif;
	color: #444;
	font-style: normal;
	font-size: 0.92em;
}
span.content_rating img {
	position: relative;
	vertical-align: bottom;
}
span.content_vote {
	font-weight: bold;
	font-family: tahoma,verdana,arial,sans-serif;
	color: #444;
	font-style: normal;
	font-size: 0.92em;
	background-color: #eeeeee;
	padding: 8px;
	border: 1px solid #ccc;
}
span.content_vote input.button {
	font-size: 0.95em;
	margin: 0;
	font-family: tahoma,verdana,arial,sans-serif;
	background-color: #999;
	border: 1px solid #666;
}

/* mosPaging */
.pagenavcounter { font-size: 0.92em; color: #999; }
div.pagenavbar {
	font-size: 0.92em;
	color: #999;
	border: 1px dashed #AAA;
	padding: 6px;
	width: auto;
}
div.pagenavbar a, div.pagenavbar a:link, div.pagenavbar a:visited, div.pagenavbar a:hover {
	color: #2E5F78;
	text-decoration: none;
	margin: 10px;
}
ul.contenttoc { background: #EEEEEE; border: 1px solid #999999; }
ul.contenttoc li.headtoc { background: #3B6E88; color: #FFFFFF; }
ul.contenttoc a.toclink:link, ul.contenttoc a.toclink:visited {
	color: #555;
	font-size: 0.92em;
	text-decoration:none;
}
ul.contenttoc a.toclink:hover { text-decoration:underline; }

/* comments */
div.item_comments {
	background: transparent url(../images/comments.gif) 100% 50% no-repeat;
	padding-right: 18px;
	font-family: tahoma,verdana,arial,sans-serif;
	color: #444;
	font-style: normal;
	font-size: 0.92em;
}

/* external links, used in content items */
a.external, a.external:visited, a.external:link, a.external:hover {
	display: inline-block;
	background: url(../images/external.png) 0 50% no-repeat;
	padding-left: 13px;
	color: #0066cc;
}
a.external:hover { color: #000; }
